In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [2]:
df = pd.read_csv('dataset.csv')
df

      R   G   B  label
0    27  32  23     10
1    28  32  24     10
2    27  31  23     10
3    28  31  23     10
4    28  33  24     10
..   ..  ..  ..    ...
118  21  23  21      2
119  26  29  27      2
120  25  28  26      2
121  32  37  34      2
122  21  23  20      2

[123 rows x 4 columns]

In [13]:
df.dtypes

R            int64
G            int64
B            int64
label_1      uint8
label_2      uint8
label_5      uint8
label_10     uint8
label_50     uint8
label_100    uint8
dtype: object

In [3]:
df.label.unique()

array([ 10,   5, 100,  50,   1,   2], dtype=int64)

In [4]:
df = pd.get_dummies(df, columns=['label'])
df

      R   G   B  label_1  label_2  label_5  label_10  label_50  label_100
0    27  32  23        0        0        0         1         0          0
1    28  32  24        0        0        0         1         0          0
2    27  31  23        0        0        0         1         0          0
3    28  31  23        0        0        0         1         0          0
4    28  33  24        0        0        0         1         0          0
..   ..  ..  ..      ...      ...      ...       ...       ...        ...
118  21  23  21        0        1        0         0         0          0
119  26  29  27        0        1        0         0         0          0
120  25  28  26        0        1        0         0         0          0
121  32  37  34        0        1        0         0         0          0
122  21  23  20        0        1        0         0         0          0

[123 rows x 9 columns]

In [8]:
df = df.sample(frac=1)
df.head()

      R   G   B  label_1  label_2  label_5  label_10  label_50  label_100
59   21  28  22        0        0        0         0         0          1
118  21  23  21        0        1        0         0         0          0
25   27  33  23        0        0        0         1         0          0
87   28  29  23        1        0        0         0         0          0
86   27  28  25        1        0        0         0         0          0

In [12]:
x = df[["R", "G", "B"]]
y = df[["label_1", "label_2", "label_5", "label_10", "label_50", "label_100"]]

KeyError: 'label'